
*,
 ::after,
 ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-weight: 100;
    font-family: demon-night;
}

.hero1 {
    background-image: url("../img/fondo-1.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero2 {
    background-image: url("../img/fondo-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero3 {
    background-image: url("../img/fondo-3.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo .img-logo {
    height: 240px;
    width: auto;
    text-align: center;
}

.info-detalles {
    position: absolute;
}

.bienvenida {
    color: #fff;
    font-size: 70px;
    font-family: demon-night;
    font-weight: 400;
}

.title-manga {
    color: #fff;
    font-size: 80px;
    font-family: demon-night;
}

@font-face {
    font-family: demon-night;
    src: url(../fonts/demonni.woff);
}

@font-face {
    font-family: heaters;
    src: url(../fonts/Heaters.woff);
    font-weight: 500px;
}

.bienvenida2 {
    color: #fff;
    font-family: heaters;
    font-size: 190px;
    line-height: 150px;
}

.invitacion {
    color: #fff;
    font-size: 35px;
    margin-bottom: 2rem;
    font-family: demon-night;
}

.info-options {
    height: 100%;
    justify-content: center;
    align-items: flex-end;
    display: flex;
}

.info-anime {
    background-color: rgba(0, 0, 0, 0.685);
}

.options {
    display: flex;
    padding-bottom: 3rem;
    width: 100%;
    text-align: center;
}

.options h2 {
    color: #fff;
    font-size: 50px;
    font-family: demon-night;
}
.content-anime{
 height:100%;}
nav {
    display: flex;
    background-color: rgba(0, 0, 0, 0.76);
    backdrop-filter: blur(3px);
}

ul {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-left: 0 !important;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    line-height: 90px;
    list-style: none;
    padding: 1.5rem;
}

nav ul li:hover ::before,
nav ul li a:hover ::before {
    border: 0 !important;
    content: "";
    background-color: transparent !important;
}

nav ul li a h3 {
    text-decoration: none;
    color: #fff;
    font-size: 40px;
    font-family: demon-night;
}

@media (max-width:992.98px) {
    body {
        line-height: 30px;
    }
    .wrapp {
        width: 100vw;
        height: 100vh;
        display: grid;
    }
    .content {
        flex-direction: column;
        height: 100%;
    }
    .hero1 {
        background-image: url("../img/fondo-mobil-1.jpg");
        background-size: 100% 100%;
    }
    .hero2 {
        background-image: url("../img/fondo-mobil-2.jpg");
        background-size: 100% 100%;
    }
    .hero3 {
        background-image: url("../img/fondo-mobil-3.jpg");
        background-size: cover;
        background-position: center left;
    }
    .title-info {
        position: relative !important;
    }
    .logo {
        display: block;
        padding-left: 0;
        text-align: center;
    }
    .logo .img-logo {
        height: 170px;
    }
    .info-detalles {
        position: static;
    }
    .info-detalles .bienvenida {
        font-size: 40px;
        margin-bottom: 0;
    }
    .info-detalles .bienvenida2 {
        font-size: 80px;
        line-height: 60px;
        margin-bottom: 0;
    }
    .info-detalles .invitacion {
        font-size: 20px;
        position: absolute;
        bottom: -120px;
        right: 0;
        width: 100%;
        text-align: center;
        text-decoration: none;
        margin: 0;
    }
    nav {
        background-color: transparent;
    }
    ul {
        height: 100%;
        padding: 0 !important;
    }
    ul {
        width: 100%;
        display: block;
        text-align: center;
        padding-bottom: 1.5rem;
    }
    nav ul li {
        line-height: 0;
        display: inline-block;
        margin: 1rem;
    }
    nav ul li a {
        line-height: 0;
        padding: 0;
    }
    nav ul li a h3 {
        font-size: 30px;
        margin-bottom: 0;
    }
    .nav-anime {
        background-color: rgba(0, 0, 0, 0.918);
    }
    .description {
        height: 100%;
    }
 .description p{
 font-size:15px;
 }
    .info-options {
        height: auto;
    }
    .options {
        padding-top: 7rem;
        width: 100%;
     padding-bottom:1rem;
    }
 .content-anime{
 height:auto;}
    .anime-options {
        flex-direction: column;
    }
 .options h2{
  font-size:20px;
 }
}
